#root{
	margin: 0 auto !important;
	padding: 0;
	max-width: 1600px;
	height: 1200px;
	background-color: #2B3247;
	color: #ffffff;
}

.container .leftmenu{
	background-color: #50E3C2;
	width: 100px;
	float: left;
	text-align: center;
	height: 1200px;
	
}
.container .leftmenu .nav-item{
	margin-top: 140px;
}

.container .leftmenu .nav-item:nth-child(2){
	margin-top: 0;
}
.container .leftmenu .nav-link{
	color: #cfcfcf;
    font-size: 32px;
    display: inline-block;
    width: 100%;
    padding: 20px;
}

#home{
	float: right;
	margin-top: 65px;
  width: 90%;
}

#home #movie-menu
{
	margin-top: 25px;
	width: 100%;
	text-align: center;
}